{% extends 'layout.html.twig' %}

{% block content %}


    {{form_start(contactForm)}}
    {{form_errors(contactForm)}}
        <div class="row">
            <div class="col mt-5">
                <div class="form-group">
                    {{form_row(contactForm.ctfirstname, {'attr' : {'class' : 'form-control', 'placeholder' : 'Votre prénom'} } )}}
                </div>
                <div class="form-group">
                    {{form_row(contactForm.ctlastname, {'attr' : {'class' : 'form-control', 'placeholder' : 'Votre nom'} } )}}
                </div>
                <div class="form-group">
                    {{form_row(contactForm.ctemail, {'attr' : {'class' : 'form-control', 'placeholder' : 'Votre@email.fr'} }  ) }} 
                </div>
                <div class="form-group">
                     {{form_row(contactForm.ctmessage, {'attr' : {'class' : 'tinymce', 'placeholder' : 'Votre message'} } ) }}   
                </div>
                <input type="submit" class=" alert-primary" value="Envoyer">
            </div>

        </div>

    {{form_rest(contactForm)}}
    {{form_end(contactForm)}}
    
{% endblock %}