{% extends 'layout.html.twig' %}

{% block content %}

  <table class="table table-striped  mt-5">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Pseudo</th>
      <th scope="col">Avatar</th>
      <th scope="col">Civil</th>
      <th scope="col">Adress</th>
      <th scope="col">Zip</th>
      <th scope="col">Town</th>
      <th colspan="2">Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>
            <a href="{#{{path('update_membre', {'id' : membre.idMembre})}}#}">
            <i class="text-dark fas fa-edit"></i>
            </a>    
        </td>
        <td>
            <a href="{#{{path('update_membre', {'id' : membre.idMembre})}}#}">
                <i class="text-danger fas fa-trash-alt"></i>
            </a>    
        </td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>
            <a href="{#{{path('update_membre', {'id' : membre.idMembre})}}#}">
            <i class="text-dark fas fa-edit"></i>
            </a>    
        </td>
        <td>
            <a href="{#{{path('update_membre', {'id' : membre.idMembre})}}#}">
                <i class="text-danger fas fa-trash-alt"></i>
            </a>    
        </td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>
            <a href="{#{{path('update_membre', {'id' : membre.idMembre})}}#}">
                <i class="text-dark fas fa-edit"></i>
            </a>    
        </td>
        <td>
            <a href="{#{{path('update_membre', {'id' : membre.idMembre})}}#}">
                <i class="text-danger fas fa-trash-alt"></i>
            </a>    
        </td>
    </tr>
  </tbody>
</table>
    
{% endblock %}