{% extends 'layout.html.twig' %}

{% block title %}Admin des Membres{% endblock %}

{% block content %}

<div class="row">
        <div class="col-12 mt-5">
            <p style="text-align: right;"><strong>Il y a {{ membres | length }} membre(s) </strong></p>
        </div>

        <table class="table table-striped table-hover table-dark">
            <tr>
                <th>Ref client</th>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Ville</th>
                <th>Email</th>
                <th>Code postal</th>
                <th>Adresse</th>
                <th>Statut</th>
                 <th colspan="3">Action</th>
            </tr>
            <tbody>
            {% for membre in membres %}
                <tr>
                    <td> {{membre.idMembre}} </td>
                    <td> {{membre.pseudo}} </td>
                    <td>
                     {% if membre.civilite == 'm' %}
                        Mr
                       {% elseif membre.civilite =='f' %}
                        Mme  
                    {% endif %}
                        {{membre.nom}} {{membre.prenom}} </td>
                     <td> {{membre.ville}} </td>
                     <td> {{membre.email}} </td>
                     <td> {{membre.codePostal}} </td>
                     <td> {{membre.adresse}} </td>
                     {% if membre.statut == 1 %}
                        <td class="text-warning"> admin</td>
                     {% else %}
                        <td class="text-info">Client</td>
                     {% endif %}                  
            {% endfor %}
                      <td>
                        {# <a href="{{path('membre', {'id': membre.idMembre})}}"> #}
                            <i class="text-success fas fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        {# <a href="{{path('delete_membre', {'id': membre.idMembre})}}"> #}
                        <i class=" text-danger fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
    
            </tbody>
        </table>
    </div>

{% endblock %}